* {
	    -webkit-transition: 2s; /* Safari 3.1 to 6.0 */
    transition: 2s;
}
#prim {
	padding-top: 40vh;
}

#linie-validare {
	background-color: #555;
	height: 10px;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
}

#form {
	margin-bottom: 50px;
}
#judet-resedintaB, #judet-resedinta {
	display: none;
} 

#box-test {
	display: none;
}
#oferta {
    background-color: #222;
    color: #fff;
    padding: 50px 0px;
    margin-top: 150px;
    border-top: 3px solid #999;
    display: none;
}
#color-alb {
    background-color: #fff;
    color: #000;
    padding: 20px;
    height: 300px;
    position: static;
    border-radius: 5px;
}
.negru {
	color:#000;
}